<div ng-include="navTemplate"></div>

<div class="row">
    <div class="col-md-12">
        <div class="row">
            <a class="col-md-3 col-md-offset-2 btn btn-success btn-lg" href="#/trips/create">
                Create trip
            </a>
            <a class="col-md-3 col-md-offset-2 btn btn-success btn-lg" href="#/trips/my-trips">
                My trips
            </a>
        </div>
        <div class="row top-marg-24">
            <div class="col-md-12">
                <form class="form-inline row">
                    <div class="form-group col-md-3">
                        <label for="fromCity">From city:</label>
                        <select class="form-control input-lg" id="fromCity" placeholder="eg.: Turnovo" ng-model="searchData.fromCity">
                            <option ng-repeat="city in cities"
                                    value="{{city.Name}}">
                                {{city.Name}}
                            </option>
                        </select>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="toCity">To city</label>
                        <select class="form-control input-lg" id="toCity" placeholder="eg.: Burgas" ng-model="searchData.toCity">
                            <option ng-repeat="city in cities"
                                    value="{{city.Name}}">
                                {{city.Name}}
                            </option>
                        </select>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="onDate">On date(not mandatory):</label>
                        <input type="date" class="form-control input-lg" id="onDate" ng-model="searchData.date"/>
                    </div>
                    <div class="form-group col-md-3">
                        <button ng-click="searchRedirect(searchData);" class="col-md-12 btn btn-primary btn-lg top-marg-24">Search trip</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>