<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/">TripShare</a>
        </div>
        <div class="navbar-collapse collapse" ng-controller="UsersController">
            <ul class="nav navbar-nav">
                <li><a href="#/home">Home</a></li>
                <li><a href="#/my-trips">My Trips</a></li>
                <li>
                    <a href="" ng-click="logout()"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>Logout</a>
                </li>
            </ul>
        </div>
    </div>
</div>