<div class="row" ng-init="displaySearchData()">
    <div class="col-md-12">
        <div ng-repeat="trip in searchTripData" class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <div class="caption">
                    <h3>{{trip.Title}}</h3>
                    <p ng-if="trip.Description">{{trip.Description}}</p>
                    <p>Driver user: {{trip.DriverName}}</p>
                    <p>Departure city: {{trip.DepartureCityName}}</p>
                    <p>Arrival city: {{trip.ArrivalCityName}}</p>
                    <p>Seats available: {{trip.AvailableSeats}}</p>
                    <p>
                        <a href="#" ng-click="joinTrip(trip.Id)" class="btn btn-primary" role="button">Join</a>
                        <a href="#" class="btn btn-default" role="button">Comments<span class="badge">{{trip.CommentsCount}}</span></a>
                    </p>
                </div>
            </div>
        </div>
        <h3 ng-if="!searchTripData">
            No data
        </h3>
    </div>
</div>